
[*]
charset = utf-8
end_of_line = crlf
trim_trailing_whitespace = false
insert_final_newline = false
indent_style = space
indent_size = 4

# Microsoft .NET properties
csharp_preferred_modifier_order = public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:warning
csharp_style_var_elsewhere = true:warning
csharp_style_var_for_built_in_types = true:warning
csharp_style_var_when_type_is_apparent = true:warning
dotnet_diagnostic.ca1715.severity = warning
dotnet_separate_import_directive_groups = true
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:suggestion
dotnet_style_parentheses_in_other_binary_operators = never_if_unnecessary:suggestion
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:suggestion
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:warning

# ReSharper properties
resharper_align_linq_query = true
resharper_align_multiline_binary_expressions_chain = false
resharper_apply_auto_detected_rules = false
resharper_blank_lines_after_control_transfer_statements = 1
resharper_blank_lines_after_multiline_statements = 1
resharper_blank_lines_before_block_statements = 1
resharper_blank_lines_before_control_transfer_statements = 1
resharper_blank_lines_before_multiline_statements = 1
resharper_braces_for_dowhile = required_for_multiline
resharper_braces_for_fixed = required_for_multiline
resharper_braces_for_for = required_for_multiline
resharper_braces_for_foreach = required_for_multiline
resharper_braces_for_lock = required_for_multiline
resharper_braces_for_using = required_for_multiline
resharper_braces_for_while = required_for_multiline
resharper_csharp_empty_block_style = together_same_line
resharper_csharp_insert_final_newline = true
resharper_csharp_keep_blank_lines_in_code = 1
resharper_csharp_keep_blank_lines_in_declarations = 1
resharper_csharp_outdent_commas = true
resharper_csharp_outdent_dots = true
resharper_csharp_wrap_before_binary_opsign = true
resharper_default_value_when_type_not_evident = default_expression
resharper_keep_existing_declaration_parens_arrangement = false
resharper_keep_existing_embedded_arrangement = false
resharper_keep_existing_expr_member_arrangement = false
resharper_keep_existing_initializer_arrangement = false
resharper_keep_existing_invocation_parens_arrangement = false
resharper_keep_existing_property_patterns_arrangement = false
resharper_keep_existing_switch_expression_arrangement = false
resharper_max_array_initializer_elements_on_line = 2147483647
resharper_max_attribute_length_for_same_line = 32
resharper_max_enum_members_on_line = 4
resharper_max_formal_parameters_on_line = 2147483647
resharper_max_invocation_arguments_on_line = 2147483647
resharper_method_or_operator_body = expression_body
resharper_place_field_attribute_on_same_line = if_owner_is_single_line
resharper_place_simple_accessor_on_single_line = false
resharper_place_simple_anonymousmethod_on_single_line = false
resharper_place_simple_embedded_statement_on_same_line = false
resharper_show_autodetect_configure_formatting_tip = false
resharper_space_around_arrow_op = true
resharper_space_within_single_line_array_initializer_braces = true
resharper_use_indent_from_vs = false
resharper_use_roslyn_logic_for_evident_types = true
resharper_wrap_chained_binary_expressions = chop_if_long

# ReSharper inspection severities
resharper_arrange_constructor_or_destructor_body_highlighting = suggestion
resharper_arrange_default_value_when_type_not_evident_highlighting = suggestion
resharper_arrange_local_function_body_highlighting = suggestion
resharper_arrange_method_or_operator_body_highlighting = suggestion
resharper_arrange_missing_parentheses_highlighting = hint
resharper_arrange_object_creation_when_type_not_evident_highlighting = suggestion
resharper_arrange_redundant_parentheses_highlighting = hint
resharper_arrange_this_qualifier_highlighting = hint
resharper_bad_attribute_brackets_spaces_highlighting = warning
resharper_bad_braces_spaces_highlighting = warning
resharper_bad_colon_spaces_highlighting = warning
resharper_bad_comma_spaces_highlighting = warning
resharper_bad_control_braces_indent_highlighting = warning
resharper_bad_control_braces_line_breaks_highlighting = warning
resharper_bad_declaration_braces_indent_highlighting = warning
resharper_bad_declaration_braces_line_breaks_highlighting = warning
resharper_bad_empty_braces_line_breaks_highlighting = warning
resharper_bad_expression_braces_indent_highlighting = warning
resharper_bad_expression_braces_line_breaks_highlighting = warning
resharper_bad_generic_brackets_spaces_highlighting = warning
resharper_bad_indent_highlighting = warning
resharper_bad_linq_line_breaks_highlighting = warning
resharper_bad_list_line_breaks_highlighting = warning
resharper_bad_member_access_spaces_highlighting = warning
resharper_bad_namespace_braces_indent_highlighting = warning
resharper_bad_parens_line_breaks_highlighting = warning
resharper_bad_parens_spaces_highlighting = warning
resharper_bad_preprocessor_indent_highlighting = warning
resharper_bad_semicolon_spaces_highlighting = warning
resharper_bad_spaces_after_keyword_highlighting = warning
resharper_bad_square_brackets_spaces_highlighting = warning
resharper_bad_switch_braces_indent_highlighting = warning
resharper_bad_symbol_spaces_highlighting = warning
resharper_built_in_type_reference_style_for_member_access_highlighting = hint
resharper_built_in_type_reference_style_highlighting = hint
resharper_convert_nullable_to_short_form_highlighting = warning
resharper_incorrect_blank_lines_near_braces_highlighting = warning
resharper_loop_can_be_partly_converted_to_query_highlighting = hint
resharper_missing_blank_lines_highlighting = warning
resharper_missing_indent_highlighting = warning
resharper_missing_linebreak_highlighting = warning
resharper_missing_space_highlighting = warning
resharper_multiple_spaces_highlighting = warning
resharper_multiple_statements_on_one_line_highlighting = warning
resharper_multiple_type_members_on_one_line_highlighting = warning
resharper_outdent_is_off_prev_level_highlighting = warning
resharper_redundant_base_qualifier_highlighting = warning
resharper_redundant_blank_lines_highlighting = warning
resharper_redundant_linebreak_highlighting = warning
resharper_redundant_space_highlighting = warning
resharper_remove_redundant_braces_highlighting = suggestion
resharper_suggest_var_or_type_deconstruction_declarations_highlighting = warning
resharper_tabs_and_spaces_mismatch_highlighting = warning
resharper_tabs_outside_indent_highlighting = warning
resharper_unnecessary_whitespace_highlighting = hint
resharper_web_config_module_not_resolved_highlighting = warning
resharper_web_config_type_not_resolved_highlighting = warning
resharper_web_config_wrong_module_highlighting = warning
resharper_wrong_indent_size_highlighting = warning

[{*.har,*.inputactions,*.json}]
indent_style = space
indent_size = 2

[*.{appxmanifest,asax,ascx,aspx,axaml,build,cg,cginc,compute,cs,cshtml,dtd,hlsl,hlsli,hlslinc,master,nuspec,paml,razor,resw,resx,shader,skin,usf,ush,vb,xaml,xamlx,xoml,xsd}]
indent_style = space
indent_size = 4
tab_width = 4
